* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html{
  height: 100%;
}

body{
  height: 100%;
}

#root{
  height: 100%;
}

.style{
  background: linear-gradient(180deg, rgba(153,217,217,1) 0%, rgba(255,255,255,0) 100%);
}